body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #ff4e50, #fc913a); /* Red gradient */
    background-size: cover;
    animation: gradientAnimation 15s ease infinite;
    color: #fff; /* White text for better visibility */
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.profile {
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: #333; /* Dark text */
    max-width: 400px;
    margin: 20px;
}

.profile:hover {
    transform: translateY(-10px);
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.4);
}

.profile:hover .name {
    color: #fc913a; /* Change name color on hover */
}

.profile:hover .description {
    color: #666; /* Change description color on hover */
}

.name {
    font-size: 48px;
    margin-bottom: 20px;
    color: #333; /* Dark text */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    transition: color 0.3s ease; /* Smooth color transition */
}

.description {
    font-size: 18px;
    line-height: 1.6;
    color: #666; /* Darker gray text */
    margin-bottom: 20px;
    animation: fadeIn 2s ease-in-out;
    transition: color 0.3s ease; /* Smooth color transition */
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.back-btn {
    background-color: #ff7e5f; /* Reddish background */
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.back-btn:hover {
    background-color: #feb47b; /* Lighter reddish background on hover */
    transform: scale(1.1);
}
